# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data folders (avoid committing large datasets)
data/
data/processed/
data/external/
data/raw/


# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/
